*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #ff7f94;
    padding-top: 80px;
}

/*nav bar(Start)*/
nav{
    height: 80px;
    position: fixed;
    /* background:#466DFF; */
    top: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

h1{
    font-size: 30px;
    color: white;
}

span{
    cursor: pointer;
    color: yellow;
}

li,a{
    color: #466DFF;
    font-weight:600;
    font-size: 20px;
    text-decoration: none;
}


ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

nav li a {
    transition: all 0.5s ease 0s;
}


/*Hero*/

.Hero-Container{
    padding: 3rem;
    padding-left: 100px;
    /* padding-right: 100px;  */
}

.Hero{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    padding-left: 50px;
    color: white;
    font-size: 90px;
}

#Profile{
    height: 500px;
    border-radius: 50%;
}

.luke,.symon,.alamil{
    color: white;
    transition: all 0.5s ease 0s;
}




/*About*/
.About-container{
    padding: 7rem 0; 
}


/*Projects*/

/*Buttons (Start)*/
.BTN_up{
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #466DFF ;
    position: fixed;
    background-color: transparent;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

/*Animations*/
nav li a:hover{
    color: yellow;
}

.BTN_up:hover{
    height: 60px;
    transition: all 0.5s ease 0s;
}

.luke:hover{
    color: #466DFF;
    transition: all 0.5s ease 0s;
}

.symon:hover{
    color: rgb(253, 49, 49);
    transition: all 0.5s ease 0s;
}

.alamil:hover{
    color: rgb(255, 255, 0);
    transition: all 0.5s ease 0s;
}
/*Responsive*/
@media (max-width: 992px){
    nav li a{
        display: none;
    }
    .Hero-Container{
        width: 100%;
    }
    #Profile{
        height: 400px;
    }
    h2{
      font-size: 30px;  
    }


}


