*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #ff8297;
    padding-top:80px;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/*ScrollBar*/
::-webkit-scrollbar{
    width: .5rem;
    padding: 0 .1rem;
  }
  ::-webkit-scrollbar-track{
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #596eb9;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #1e4fff;
    transition:  0.5s ;
}

/*darkmode*/
.darkmode{
    background-color: #3460ff;
}
  

/*nav bar(Start)*/
#nav-bar{
    height: 80px;
    top: 0;
    z-index: 15;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2rem 5%; 
    transition: all 0.3s ease;
    
}

.active-nav{
    background-color:#ff627c;
    box-shadow: 1px 1px 5px #ff5f7a;
  }

h1{
    font-size: 40px;
    color: white;
}

.O{
    color: #577cff;   
}

li,a{
    color: #4971ff;
    font-weight:700;
    font-size: 25px;
    text-decoration: none;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
}

nav li a {
    transition: all 0.5s ease 0s; 
}


#BTN-dark{
    background-color: transparent;
    border-radius: 10px;
    padding: 3px;
    border: 3px solid #466DFF ;
}

/*Gobos na kaagan*/
.Home,.nav-container, .About, .Hobbies, .Favorites{
    max-width: 90%;
}

/*IMAGES*/


/*Home*/


/*Scroll snap*/
.home-Section,.about-Section,.hobbies-Section,.favorites-Section,.Footer-Section{
    scroll-snap-align: start;
}

/*home*/

.Home{
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 5rem 7vh;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    color: white;
    font-size: 95px;
}


#Profile{
    position: relative;
    height:70vh;
    border-radius: 50%;
    transition: all 0.5s ease 0s;;
}

.luke,.symon,.alamil{
    color: white;
    transition: all 0.5s ease 0s;
}


/*titles*/
h3{
    color: white;
    font-size: 70px;
}

/*About*/

.About{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    gap: 5rem;
    padding: 4.8rem 7vh;
    color: white;
    background-color: #1e4fff;   
}

.Carosel{
    width: 670px;
    display: flex;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow-x: scroll; 
}
.Carosel ::-webkit-scrollbar{
    display: none;
}

.Carosel img{
   flex-shrink: 0;
   scroll-snap-align: start;
   height: 450px;
}

.about-contents{
    background-color: #fd3131;
    text-align: center;
}



/*Hobbies*/

.Hobbies{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 3em;
    color: white;
    background-color: rgb(38, 0, 141);
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}

/*Projects*/

.Favorites{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 3em;
    color: white;
    background-color: rgb(3, 135, 211);
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
   
}

.Footer{
    color: white;
    padding-top: 2em;
    background: pink;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.Footer span{
    color: rgb(255, 111, 111);
}

.sites img{
    height: 40px;
    margin: 8px;
}




/*Buttons*/
.BTN_up{
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #466DFF ;
    position: fixed;
    background-color: transparent;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

/*Animations*/
nav li a:hover{
    text-shadow: 0 0 10px #ffff7f, 
                0 0 20px #ffff7f, 
                0 0 30px #ffff7f, 
                0 0 40px #ffff7f, 
                0 0 50px #ffff7f, 
                0 0 60px #ffff7f, 
                0 0 70px #ffff7f, 
                0 0 80px #ffff7f;
    color: #ffffc2;
}

#Profile:hover{
    box-shadow: 0 0 20px #ffb5c1, 
                0 0 30px #ffb5c1, 
                0 0 40px #ffb5c1, 
                0 0 50px #ffb5c1, 
                0 0 60px #ffb5c1, 
                0 0 70px #ffb5c1, 
                0 0 80px #ffb5c1, 
                0 0 90px #ffb5c1;
    transition: all 0.5s ease 0s;
}

.BTN_up:hover{
    height: 60px;
    transition: all 0.5s ease 0s;
}

.luke:hover{
    color: #466DFF;
    text-shadow: 10px 5px #0c1e5c;
    transition: all 0.5s ease 0s;
}

.symon:hover{
    color: #fd3131;
    text-shadow: 10px 5px #440d0d;
    transition: all 0.5s ease 0s;
}

.alamil:hover{
    color: #ffff00;
    text-shadow: 10px 5px #5f5f0b;
    transition: all 0.5s ease 0s;
}

.active{
    text-shadow: 0 0 10px #ffff7f, 
                0 0 20px #ffff7f, 
                0 0 30px #ffff7f, 
                0 0 40px #ffff7f, 
                0 0 50px #ffff7f, 
                0 0 60px #ffff7f, 
                0 0 70px #ffff7f, 
                0 0 80px #ffff7f;
    color:#ffffc2;
}


/*Responsive*/
@media (max-width: 1023px){

    .Home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    nav li a{
        display: none;
    }
   
    #Profile{
        height: 50vh;
    }
    h2{ 
      font-size: 60px;  
    }


}


