*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0 ;
    outline: none; 
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: #466DFF;
}

/*Buttons*/
.LOGO{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.BTN_up{
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #ffc0cb ;
    position: fixed;
    background-color: transparent;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}
/*Buttons*/

h1{
    padding: 10px;
}

span{
    color: yellow;
}

li,a{
    text-decoration:none;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.5s ease 0s;
}



/*Animations*/
.nav_links li a:hover{
    color: yellow;
    
}

.profile:hover{
    height: 70px;
    transition: all 0.5s ease 0s;
}

.BTN_up:hover{
    height: 55px;
    transition: all 0.5s ease 0s;

}


